/*
Beer Crush color scheme:

brown:		c49a6c
white:		ffffff
light red:	ee3124
dark red:	6f0014
light blue:	38bdec
dark blue:	137aa1
black:		000000

*/

/* General Typography
 ---------------------------------------------------------------------*/
html, body {
	font:13px/1.231em arial,helvetica,clean,sans-serif;
	line-height: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

html > body {
	font:13px/1.231em arial,helvetica,clean,sans-serif; /*16px/1.515 */
	line-height: 20px;
}
/**
 * Nudge down to get to 13px equivalent for these form elements
 */ 
select, input, button, textarea {
	font:99% arial,helvetica,clean,sans-serif;
}

/**
 * To help tables remember to inherit
 */
table {
	font-size:inherit;
	font-size:100%;
}

h1 {
	font-size:2.5em;  
	color: #6f0014;
	line-height: 1em;
	margin: .25em 0 0 0;
}

h2 {
	color: #1371aa;
	font-size: 1.5em;
	line-height: 1em;
	margin: .25em 0 0 0;
}

h3 {
	color: #1371aa;
	font-size: 1.2em;
	line-height: 1em;
	margin: .25em 0 .25em 0;
}
h1>h2, h2>h3, h3>h4, h2+h1 {
	margin: 0;
	padding: 0;
	
}

.tiny {
	font-size: x-small;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
	line-height: 1.75em;
}

p {
	font-size: 1em;
	line-height: 1.2em;
	margin-bottom: .25em;
}

td, td a, th, th a, span {
	line-height: 1.3333em;
}

blockquote {
	margin: .416em 0 .416em 1.1667em;
}

a {
	color: #137aa1;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
	border-bottom: #137aa1;
	border-width: 0px 0px 1px 0px;
	border-style: none none dotted none;	
}

a:visited {
	color: #666699;
	border-bottom: #666699;
	border-width: 0px 0px 1px 0px;
	border-style: none none dotted none;	
}

a:hover {
	border-style: none none solid none;	
}

.white a {
	color: #FFF;
	border-bottom: #FFF;
	border-width: 0px 0px 1px 0px;
	border-style: none none dotted none;	
}

ul, ol {
	margin: .833em 0;
	padding-left: 2em;
}

ul {
	list-style: none;
}

ol {
	list-style-type: decimal;
}

ul li, ol li {
	line-height: 1.5em;
}

img {
	border: 0;
	margin: 0;
}

.hidden {
	display:none;
}



/* Structure
 ---------------------------------------------------------------------*/
#page_wrap {
	margin:0 auto 10px;
	padding: 0 10px;
	text-align:left;
	width:974px;
	background: white;
	position: relative;
}
#header {
	border-bottom: 1px solid #137aa1;
	color: #137aa1;
}
#header_main {
	float: left;
	width: 83%;
	height: 116px; /*this changes with font size?*/
	position: relative;
}
#logo {
	float: left;
	width: 15%;
	height: 116px;
}

#logo a {
	text-decoration:none;
	border: none;
}
#tabs_wrap {
	position: absolute;
	top: 76px;
}
#tabs_wrap #navmenu {
	text-align:left;
}
#navmenu ol, #navmenu ul {
	margin: 0;
	vertical-align: bottom;
}

#header #navmenu li, #submenu li {
	float: left;
	list-style: none outside;
}

#navmenu a {
	display: block;
	font-size: 22px;
	padding: 5px 15px 2px;
	text-decoration: none;
	border-color: #137aa1 #137aa1 #137aa1;
	border-style: dotted;
	border-width: 1px;
	color: #137aa1;
	font-weight: bold;
	padding: 4px 15px;
	position: relative;
	top: 1px;
	margin-left: 5px;
}

#navmenu a:hover {
	background: #137aa1;
	color: white;
}
#navmenu li.selected a{
	background-color:#137aa1;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	position: relative;
	top: 1px;
}
#submenu {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FCB040;
	color: white;
	margin: 0;
}
#searchform {
	margin: 30px 0 0 30px;
}

#login {
	width:300px;
	padding:3px;
	height:80px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index:999;
	background:#38bdec;
	font-size:10pt;
	color:#FFFFFF;
}
#login input {
	font-size: 13px;
}
#login img {
	width:30px;
	height:30px;
	margin: -5px 5px 0 0;
	vertical-align: middle;
}

#login_dropdown {
}
#login_msg {
}
#inplacelogin .buttons {
	max-width: 40%;
	margin-right: 5%;
	float: left;
}
#inplacelogin {
	border: 1px solid #38bdec;
	padding: 5px; 
}

#page_content {
	padding: 5px 0;
}
#mwr {
	width: 710px;
	float: right;
	min-height: 1px;
	overflow: hidden;
}
#main {
	float: left;
	width:390px;
	margin-right: 10px;
}
#mwr_right_300 {
	float:left;
	width: 300px;
	min-height: 1px;
	overflow: hidden;
}
#mwr_left_250 {
	float: right;
	width: 250px;
	margin-right: 10px;
	min-height: 1px;
	overflow: hidden;
}

#mwl {
	width: 710px;
	float: left;
	min-height: 1px;
	overflow: hidden;
}
#mwl #main {
	float: right;
	width:390px;
	margin-left: 10px;
}
#mwl_left_300 {
	float: right;
	width: 300px;
	min-height: 1px;
	overflow: hidden;
}
#mwl_right_250 {
	float:left;
	width: 250px;
	min-height: 1px;
	overflow: hidden;
}
#m {
	width: 650px;
	float: left;
	margin-right: 20px;
	min-height: 1px;
	overflow: hidden;
}
#m_right_300 {
	float:left;
	width: 300px;
	min-height: 1px;
	overflow: hidden;
}

#footernav {
	color: #38bdec;
	text-align:center;
	width:100%;
	padding-top:7px;
}
#footernav .menu {
	float: left;
	width: 200px;
	margin: 0 0 5px 20px;
	text-align: left;
}
#footernav .menu .first {
	margin-left: 0;
}
#popular {
	padding-bottom: 15px;
}
#copyright {
	background: #FCCC4F;
	bottom:0px;
	left:0px;
	position:fixed;
	height:15px;
	color: grey;
	font-size: smaller;
	width: 100%;
	text-align: center;
	padding-bottom: 3px;
}
#pagemodtime {
	text-align: right;
	float:right;
}
.notice {
	color: grey;
}
.help p {
	color: grey;
	font-size: .8em;
}
.feedback_success {
	border: 3px solid #137aa1;
	color: #137aa1;
	padding: 3px;
	margin: 5px 0;
}
.feedback_error {
	border: 3px solid #ee3124;
	color: #ee3124;
	padding: 3px;
	margin: 5px 0;
}
.hidden {
	display: none;
}
/* Beer Page Specific
 ---------------------------------------------------------------------*/
#beer_description{
	min-height: 50px;
}

#flavors_table {
	font-size:8pt;
}

#beer div:hover {
	background-color: #D0fbff;
}

div.label {
	float: left;
	text-align: right;
	width: 110px; /*41% and 55% for values if in left column */
	padding-right: 3px;
}
.label {
	color: #666;
}
#beer_og, #beer_fg, #beer_abv, #beer_ibu, #beer_hops, #beer_grains, #beer_yeast, #beer_style {
	float: left;
	width: auto;
}
#beer_srm_name div {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}

select.beercolors option {
	padding: 5px 5px 5px 25px;
}

#flavors_table td {
	white-space: nowrap;
}

#ratings_section {
	position: relative;
	width: 350px;
}
#ratingcount {
	display: block;
	position: absolute;
	left: 160px;
	top: 5px;
}

.star_rating {
	width: 150px;
	height: 29px;
	background: grey url("/img/star.png") repeat-x;
	margin-bottom: 10px; 
}

#avgrating, .avgrating {
	height: inherit;
	background: #38bdec url("/img/star.png") repeat-x;
}
#predrating {
	height: inherit;
	background: #ee3124 url("/img/star.png") repeat-x;
}
#ratings_section p {
	text-align: center;
	font-size: 1em;
	color: grey;
	width: 280px;
	height: .5em;
	margin-top: -5px;
}
.body, .balance, .aftertaste {
	background: url("/img/meter.png") no-repeat;
	height: 34px;
	width: 280px;
	position: relative;
}
.body {
	background-position: -70px 0;
}
.balance {
	background-position: -70px -34px;
}
.aftertaste {
	background-position: -70px -68px;
}
.meter {
	height: 7px;
	width: 150px;
	background: #d9d9d9;
	left: 64px;
	top: 13px;
	position: absolute;
}
.body .meter div {
	height: inherit;
	background: #137aa1;
}
.balance .meter div {
	height: inherit;
	background: #c49a6c;
}
.aftertaste .meter div {
	height: inherit;
	background: #6f0014;
}
.flavors span {
	color: #137aa1;
}
.flavors .size5 {
	font-size: 2em;
	font-weight: 600;
}
.flavors .size4 {
	font-size: 1.6em;
	font-weight: 600;
}
.flavors .size3 {
	font-size: 1.2em;
	font-weight: 400;
}
.flavors .size2 {
	font-size: 1em;
	font-weight: 200;
}
.flavors .size1 {
	font-size: .8em;
}

.swatchselect option {
	background-image:  url("/img/colorswatchbkgd.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 20px;
	padding-left: 24px;
	padding-top: 4px;

}
.swatchselect2 option {
	height: 20px;
	padding-left: 24px;
	padding-top: 4px;
	color: white;
}
.swatchselect2 span{
	font-size: .5em;
	color: grey
}
.swatchselect option:hover, .swatchselect option selected {
	background-color: transparent;
	background-image: none;
}
.triangle-border {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	border:2px solid #137aa1;
	color:#333;
	background:#fff;
	
	/* css3 
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;*/
}

/* creates the larger triangle */
.triangle-border:before {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-40px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
	width:0;
	height:0;
	border:20px solid transparent;
	border-top-color:#5a8f00;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-26px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	width:0;
	height:0;
	border:13px solid transparent;
	border-top-color:#fff;
}




/* Bubble with a border rather than solid colour
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
	top:-23px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border:11px solid transparent;
	border-bottom-color:#137aa1;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	left:48px; /* value = (:before right) + (:before border-right) - (:after border-right) */
	bottom:auto;
	left:auto;
	border:11px solid transparent;
	border-bottom-color:#fff;
}

.areview .user {
	color: #666666;
}
.areview img, .caption img {
	width:30px;
	height:30px;
	margin: -5px 5px 0 0;
	vertical-align: middle;
}

.photo {
	margin: 0 auto 5px auto;
}
.caption {
	font-size:80%;
	color: 666;
	text-align:right;
	line-height: 1em;
	margin:0;
}

.photo img {
	display: block;
	margin: 0 auto;
}
.photo2 img {
	border: 3px solid #fff;
	-o-box-shadow: 0 3px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 4px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 3px 4px rgba(0,0,0,.5);
	box-shadow: 0 3px 4px rgba(0,0,0,.5);
	-o-transform: rotate(2.5deg);
	-moz-transform: rotate(2.5deg);
	-webkit-transform: rotate(2.5deg);
}

.command {
	margin: 0 0 20px 0;
	padding: 0;
}

.command li {
	vertical-align: middle;
	background-position: 0 5px;
	padding: 10px 0 0 35px;
	background-repeat: no-repeat;
	min-height: 35px;
}
.otherlist li {
	font-size: 1.2em;
}
.otherlist .brewery {
	display: block;
	font-size: .8em;
	color: maroon;
	border: none;
}	
/* Brewery Page Specific
 ---------------------------------------------------------------------*/
#brewery_description{
	min-height: 50px;
}
#map {
	width: 300px;
	height: 300px;
}
#brewery div:hover {
	background: #D0fbff;
}

#beerlist li {
	margin-bottom: 5px;
	font-size: 1.2em;
}
.beerstyle {
	font-size: smaller;
}

/* place Page Specific
 ---------------------------------------------------------------------*/
.placetype {
	width: 30px;
	height: 30px;
	float: left;
	margin: 5px 5px 5px 0;
	background: 0 -30px url("/img/beerplace.png") no-repeat;

}
#place div:hover {
	background: #D0fbff;
}
.smstar_rating {
	width: 150px;
	height: 28px;
	background: grey url("/img/starsm.png") repeat-x;
	margin-bottom: 10px; 
	float: left;
}

#atmosphere {
	height: inherit;
	background: #137aa1 url("/img/starsm.png") repeat-x;
}
#service {
	height: inherit;
	background: #c49a6c url("/img/starsm.png") repeat-x;
}
#food {
	height: inherit;
	background: #6f0014 url("/img/starsm.png") repeat-x;
}
.crush {
	font-size: 1.5em;
	color: white;
	background: #6f0014;
	display: inline;
	padding: 5px;
}
ul#beermenu {
	padding: 0;
}
#beermenu li {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	line-height: 1.1em;
	min-height: 45px;
	position: relative;
}
#beermenu li:nth-child(even) {
	background: #e3e3e3;
}
#beermenu li .served {
	width: 30px;
	height: 30px;
	float: left;
	margin: 5px 10px 0 10px;
}
#beermenu li .ontap, #beermenu li .inbottle, #beermenu li .inbottle22, #beermenu li .incan, #beermenu li .oncask {
	background: 0 0 url("/img/servingicons.png") no-repeat;
}
#beermenu li .ontap {
	background-position: -58px 0;
}
#beermenu li .inbottle {
	background-position: 0 0;
}
#beermenu li .inbottle22 {
	background-position: -118px 0;
}
#beermenu li .incan {
	background-position: -28px 0;
}
#beermenu li .oncask {
	background-position: -88px 0;
}
#beermenu .brewery {
	font-size: .8em;
	color: maroon;
	border: none;
}
#beermenu li .cmd {
	border-color: white;
	font-size: x-small;
	color: #6f0014;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px; 
	height: 10px; 
	background: #6f0014 -84px -132px url(/img/ui-icons_ffffff.png);
	border: 0;
}
#beermenu .cmd:hover {
	background: #FFFFFF -84px -132px url(/img/ui-icons_red.png);	
}
#beermenu span.brewery {
	font-size: .8em;
	border: 0 white none;
	color: #6f0014;
}

#beermenu .price {
	font-size: .7em;
	float: right;
	margin-right: 10px;
	color: grey;
}
.place {
	width: 250px;
	height: 250px;
	background: -250px 0 url("/img/types.png") no-repeat;
}
div.Restaurant {
	background: -500px 0 url("/img/types.png") no-repeat;
}
div.Bar {
	background: -750px 0 url("/img/types.png") no-repeat;
}
div.Brewpub {
	background: -1000px 0 url("/img/types.png") no-repeat;
}
div.Store {
	background: -1250px 0 url("/img/types.png") no-repeat;
}
div.Brewery {
	background: -1500px 0 url("/img/types.png") no-repeat;
}
/* Member Page Specific
 ---------------------------------------------------------------------*/
#avatar {
	text-align: right;
}
.areview .type  {
	font-size: 1.2em;
}
.type .place, .type .beer {
	width: 30px;
	height: 30px;
	float: left;
	margin: 5px 5px 5px 0;
	background: url("/img/beerplace.png") no-repeat;
}
.type .place {
	background-position: 0 -30px;
}
.areview .brewery {
	font-size: .8em;
	border: 0 white none;
	color: #6f0014;
	display: block;
}
/* Styles Page Specific
 ---------------------------------------------------------------------*/
#styles ul {
	font-size: 1.5em;
	font-weight: bold;
}
#styles ul ul {
	font-size: .8em;
	font-weight: normal;
	margin-top: 0;
}
/* Location Page Specific
 ---------------------------------------------------------------------*/
#loclist span{
	font-size: smaller;
}
/* Home Page Specific
 ---------------------------------------------------------------------*/
.by {
	float: right;
}

/* JQUERY
 ---------------------------------------------------------------------*/
/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; float: left; margin: 0 5px 5px 0; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #45930b; background: #4ca20b url(/img/ui-bg_highlight-soft_60_4ca20b_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #ffffff; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #8bd83b; background: #4eb305 url(/img/ui-bg_highlight-soft_50_4eb305_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #72b42d; background: #285c00 url(/img/ui-bg_highlight-hard_30_285c00_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
.ui-widget :active { outline: none; }

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(/img/ui-icons_ffffff.png); }
.ui-widget-content .ui-icon {background-image: url(/img/ui-icons_72b42d_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/img/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/img/ui-icons_ffffff.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/img/ui-icons_ffffff.png); }
.ui-state-active .ui-icon {background-image: url(/img/ui-icons_ffffff.png); }
.ui-state-highlight .ui-icon {background-image: url(/img/ui-icons_green.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/img/ui-icons_red.png); }


.ui-icon-star { background-position: -224px -112px; }
.ui-icon-close { background-position: -80px -128px; background-color: #ee3124;}
.ui-icon-closethick { background-position: -96px -128px; background-color: #ee3124;}
.ui-icon-check { background-position: -64px -144px; background-color: #4ca20b;}
.ui-icon-help { background-position: -48px -144px;  background-color: #999999;}

/* OTHER PAGES
 ---------------------------------------------------------------------*/
/*
#page_tos ol {
	counter-reset: item;
}
#page_tos li li:before {
	content: counter(top)"."counter(item)". ";
	counter-increment: item;
}
*/
#page_tos li {
	list-style: upper-roman;
}

#page_tos li li {
	list-style: decimal;
}
#page_tos li li li {
	list-style: lower-roman;
}

#page_privacy ul li {
	list-style-type: disc;
	margin: 0 0 10px 20px;
}
/* Float Clearing
 ---------------------------------------------------------------------*/

.clearfix:after, .cf:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	min-height: 0;
}

.cl:after {
	clear: left;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.cr:after {
	clear: right;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}