/*
Beer Crush color scheme:

brown:		c49a6c
white:		ffffff
light red:	ee3124
dark red:	6f0014
light blue:	38bdec
dark blue:	137aa1
black:		000000

*/

ol#navmenu {
	display:inline;
	font-size:17pt;
	text-align:left;
	width:100px;
	position:absolute;
	top:0px;
	left:150px;
	list-style-type:none;
}

#navmenu li {
	display:inline;
}

#navmenu a {
	color:#137aa1;
}

#navmenu a {
	text-decoration:none;
	border-style:none;
}

#searchform {
	position:absolute;
	left:350px;
	top:100px;
}

body {
	font-family: Helvetica;
	color:#137aa1;
	background:#fff;
}

a {
	color:#ee3124;
	text-decoration:none;
	border-bottom: #c49a6c;
	border-width: 0px 0px 1px 0px;
	border-style: none none dotted none;	
}

#login {
	font-size:10pt;
	position:fixed;
	top:0px;
	right:0px;
	width:330px;
	z-index:999;
	background:#137aa1;
	color:#38bdec;
	padding:3px;
}

#page_content {
	margin-left:125px;
}

#footer_spacer {
	height:25px;
}

#footer {
	font-size:0.8em;
	color: #38bdec;
	text-align:center;
	width:100%;
	height:25px;
	left:0px;
	bottom:0px;
	position:fixed;
	background: #137aa1;
	padding-top:7px;
}

#pagemodtime {
	position:fixed;
	right:5px;
	bottom:0px;
}

img {
	border: 0;
}

.hidden {
	display:none;
}

/*#logo {
	position:fixed;
}
*/
#logo a {
	border-bottom:0px;
	text-decoration:none;
}